<div class="center jumbotron">
  <h1>Admin Functions</h1>

  <h2>
    What would you like to do?
  </h2>

  <%= link_to "Add a Camper", campers_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "View the List of Campers", campers_all_path, class: "btn btn-lg btn-primary" %>
  <%#= link_to "Create a Schedule", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "View this week's Schedule", '#', class: "btn btn-lg btn-primary" %>
</div>
