<!DOCTYPE html>
<html>
  <head>
    <title>Help | Camp La Vida Scheduler App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      If you have any questions about how this app works, or if you need help with the app, please email <a href="mailto:mdbuchanan0@gmail.com">Matthew Buchanan</a>
      about your problem at <a href="mailto:mdbuchanan0@gmail.com">mdbuchanan0@gmail.com</a>.
    </p>
  </body>
</html>