<div class="center jumbotron">
  <h1>Welcome to the Camp La Vida Scheduler App</h1>

  <h2>
    What would you like to do?
  </h2>

  <%= link_to "Admin Functions", admin_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "View this week's schedule", '#', class: "btn btn-lg btn-primary" %>
</div>
