<h1>Developer Patch Notes</h1>
<h2><b>Ver 1.1</b>: Quality Enhancements:<br />
 Added a Reassign link to reassign a camper if the activity doesn't have enough campers<br />
 Added tracking for Assign and Reassign pages to no longer allow selecting an activity that a camper has previously had<br />
 Changed the background to pink per client's request</h2>
<hr />
<h2><b>Ver 1.0</b>: Production version of the app completed<br />
 Fully scheduler functionality for five slots and seven activities for each camper<br />
 Allows activities to be turned on and off before that day's schedule is made to allow for bad weather</h2>