<footer class="footer">
  <small>
    The Camp La Vida Scheduler Application
    by <a href="mailto:mdbuchanan0@gmail.com">Matthew Buchanan</a>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "Home", admin_path %></li>
      <% else %>
        <li><%= link_to "Login",   login_path %></li>
      <% end %>
      <li><%= link_to "Contact", help_path %></li>
      <li>Camp La Vida Scheduler App ver. 0.9</li>
    </ul>
  </nav>
</footer>